<header>
    <nav class="uk-navbar-container uk-box-shadow-small" uk-navbar="mode: click" style="z-index: 980;" uk-sticky="show-on-up: true; animation: uk-animation-slide-top; bottom: #bottom">
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li><a href="#included" uk-scroll>What's included?</a></li>
                <li><a href="#usage" uk-scroll>Usage</a></li>
                <li><a href="#links" uk-scroll>Links</a></li>
            </ul>
        </div>
    </nav>
</header>
