@import "imports.scss";

.section--hero {
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), inline('hero-bg.jpeg');
  background-size: cover;
}

h1, h3 {
  font-weight: 300;
}

p {
  font-family: $font-mono;
}
